@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Mono", monospace;
  font-weight: 600;
  color: var(--text-color);
}

:root {
  --primary: #f1f4f8bf;
  --primaryAlt: #dde3eed9;
  --text-color: #2e2e2e;
  --field-focus: #bababa;
  --container-padding: 3rem;
  --border-normal: #ededed;
  --field-color: #d4d4d4;
  --gray: #fafafa;
  --font-normal: 18px;
  --error-color: #d68d8d;
  --light-bg: #ebebeb59;
  --muted: #737373;
}

body .app-container {
  align-items: flex-start;
  padding: var(--container-padding);
  height: fit-content;
  min-height: 100vh;
}

/* reused styles */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.items-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

/* headings */
.heading-lg {
  font-size: 22px;
  width: 225px;
}

.heading-sm {
  margin: 10px 0px;
}

/* muted */
.muted {
  color: var(--muted) !important;
  fill: var(--muted) !important;
}

.muted path {
  fill: var(--muted) !important;
}

body .container {
  margin: 45px 0px;
  padding: 40px 20px;
  background-color: var(--gray);
  border: 1px solid var(--border-normal);
  border-radius: 1.5rem;
  width: 875px;
  background-image: url(./images/constellation.svg);
  background-position: center;
  box-shadow: 0 0.75px 2px 0.45px rgb(0 0 0 / 0.05);
}

body nav {
  width: 100%;
  border-radius: 0.5rem;
  padding: 5px 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  width: fit-content;
  height: fit-content;
  min-width: fit-content !important;
  margin: 0 !important;
}

.icon-button svg {
  font-size: 22px;
}

.icon-button path {
  fill: #636363;
}

/* icon button */
nav .icon-button {
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

/* alt button */
.alt-button {
  background: #fafafa !important;
  border: 1px solid var(--border-normal) !important;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.025) !important;
  margin: 0 !important;
}

.video-container {
  width: 100%;
  max-width: 1200px;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video-container > div {
  width: 30%;
  max-width: 550px;
}

.video-container > div > div {
  /* mute audio & toggle cam options */
  width: 100%;
  justify-content: space-between;
  padding: 10px 5px;
}

.video-container > div > div button,
.close-modal-button,
.retry-button,
.copied-msg .icon-button,
.swiper button {
  border: none !important;
  background: none !important;
}

.video-container > div > div svg {
  font-size: 18px;
}

body .video-box {
  position: relative;
  justify-content: center !important;
  padding: 0px !important;
}

body video {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
}

body video.disabled {
  opacity: 0;
}

body video ~ span {
  content: "";
  position: absolute;
  height: 100%;
  background: var(--gray);
  border: 1px solid var(--border-normal);
  left: 0;
  top: 0;
  border-radius: 0.5rem;
  font-size: 30px;
  background-image: url(./images/constellation.svg);
  box-shadow: inset 0 0px 4px 1px rgb(0 0 0 / 0.025) !important;
}

body .container form {
  margin-left: 50px;
}

button,
input {
  font-size: var(--font-normal);
  border-radius: 10rem;
  border: 1px solid var(--primaryAlt);
  height: 65px;
  outline: none;
}

input {
  padding: 7.5px 23.5px;
  border: 1px solid var(--field-color);
  box-shadow: inset 0 0px 4px 0 rgb(0 0 0 / 0.025);
}

button {
  width: 180px;
  height: 75px;
  cursor: pointer;
  background-color: var(--primary);
  transition: transform 0.25s ease;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

button:disabled {
  pointer-events: none;
}

button:hover {
  transform: translateY(-1.5px);
}

input:focus {
  border-color: var(--field-focus);
}

.error {
  color: var(--error-color);
  margin: 11.5px 0px 0px 15px;
  font-size: var(--font-normal);
}

.error-input {
  border-color: var(--error-color) !important;
}

.app-container .leave-btn {
  font-size: 15.5px;
  width: 155px;
  margin: 20px 0px;
}

.loading > span {
  font-size: 14px;
}

.loading > .full-width {
  font-size: 22px !important;
  width: fit-content;
}

.retry {
  height: 100%;
  align-self: center;
}

.retry-button {
  margin-left: 8px !important;
}

.room-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px 30px 0px;
  width: 100%;
}

.room-header .icon-button {
  height: 55px;
  width: 55px;
  margin-right: 15px !important;
  cursor: pointer;
}

.room-header button {
  width: fit-content;
  height: 55px;
  padding: 0px 10px;
}

/* copied roomID popup */
.copied-msg {
  display: none;
  position: absolute;
  bottom: 10px;
  left: calc(50% - (200px / 2));
  width: 200px;
  height: 33px;
  overflow-y: hidden;
}

.copied-msg > span {
  animation: 0.5s ease-in 0s forwards normal slide-up;
  justify-content: space-between;
}

.copied-msg .icon-button {
  cursor: pointer;
}

.copied-msg svg {
  font-size: 18px !important;
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  } to {
    transform: translateY(0px);
  }
}

/* swiper */
.swiper {
  width: 100%;
  max-width: 625px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.how-to {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.25rem;
}

.how-to .heading-lg {
  margin: 0 !important;
  font-size: 23px;
}

.swiper-pagination {
  position: static !important;
  margin-top: 45px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.swiper-pagination-bullet {
  background: rgba(46, 46, 46, 0.185) !important;
  transition: all 0.3s cubic-bezier(0.43, 0.77, 0.15, 1.5);
  opacity: 1 !important;
  width: 11.5px !important;
  height: 11.5px !important;
}

.swiper-pagination-bullet-active {
  background: rgba(46, 46, 46, 0.575) !important;
  width: 11.5px !important;
  height: 11.5px !important;
}

.how-to .icon {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid var(--border-normal);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.how-to .icon svg {
  font-size: 45px;
}

.how-to .icon svg path {
  fill: hsl(0, 0%, 50%);
}

.swiper-button {
  position: absolute;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  z-index: 2;
}

.swiper-button::after {
  content: "" !important;
  background: #fff;
  width: 55px;
  height: 225px;
  position: absolute;
  pointer-events: none;
  cursor: default;
}

.swiper .swiper-button::after {
  top: calc(-225px / 2);
  z-index: 1;
}

.swiper .swiper-button.right,
.swiper .swiper-button.right::after {
  right: 0;
}

.swiper .swiper-button.left,
.swiper .swiper-button.left::after {
  left: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;
}

.swiper .swiper-button.right::after {
  box-shadow: -35px 0px 0px 0px #ffffffed;
}

.swiper .swiper-button.left::after {
  box-shadow: 35px 0px 0px 0px #ffffffed;
}

@keyframes slide-in {
  to {
    transform: translateX(0%);
  }
}

/* react modal */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248, 0.725) !important;
}

.modal-menu {
  animation: 0.3s ease-in 0s forwards normal slide-in;
  transform: translateX(-100%);
  box-shadow: 0px 0px 2px 0.75px rgb(0 0 0 / 0.075);
  outline: none;
  width: 88%;
  max-width: 850px;
  border-radius: 1rem;
  min-height: 50%;
  padding: 2rem 2.5rem;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
}

/* modal close button */
.close-modal-button {
  font-size: 14px;
  flex: 0.2;
  text-align: right;
  box-shadow: none;
  margin: 0 !important;
}

.modal-menu > div > p {
  font-size: 17.25px;
  flex: 0.8;
}

.onboarding form {
  margin: 0 auto;
  max-width: 550px;
  row-gap: 1.25rem;
}

.onboarding .error {
  margin: 0 !important;
}

.onboarding > div {
  justify-content: space-between;
}

.onboarding form button {
  width: 105px;
  min-width: 105px !important;
  height: 55px;
  margin: 0 !important;
}

.onboarding .checkbox {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--field-color);
  box-shadow: inset 0 0px 4px 0 rgb(0 0 0 / 0.025);
}

.onboarding .checkbox svg {
  font-size: 21.5px;
}

/* media queries */
@media (max-width: 900px) {
  :root {
    --container-padding: 1.5rem;
  }
  body .container {
    width: 100%;
  }
  body button {
    margin: 11.5px 0px 0px 0px !important;
  }
  body .container {
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 0px;
    padding: 20px 13px;
  }
  body .container .heading-lg {
    margin: 20px 0px;
  }
  body .container .heading-sm {
    margin: 0px 0px 20px 0px !important;
  }
  body .container form {
    margin: 0px !important;
    width: 100%;
  }
}

@media (max-width: 600px) {
  :root {
    --container-padding: 0.65rem;
    --font-normal: 14.65px;
  }
  .loading > .full-width {
    font-size: 20px !important;
  }
  body button {
    width: 145px;
    min-width: 145px;
  }
  .video-container {
    gap: 0.75rem;
  }
  .video-container > div {
    width: 46% !important;
  }
  .video-container > div > div svg {
    font-size: 16.5px;
  }
  body video {
    height: 180px; 
  }
  body .app-container .container .heading-lg {
    font-size: 18.5px;
    margin: 13.5px 0px;
  }
  body .container .heading-sm {
    font-size: 14.75px;
    margin: 0px 0px 13.5px 0px !important;
  }
  body .heading-lg {
    margin: 13.5px 0px;
  }
  body .how-to .heading-lg {
    font-size: 17.5px;
  }
  .modal-menu {
    padding: 1.5rem 1.15rem !important;
  }
  .modal-menu > div > p {
    font-size: 16px;
  }
  .close-modal-button {
    font-size: 12.5px;
  }
  .swiper .swiper-button::after,
  .swiper .swiper-button::after {
    width: 28px;
  }
  .swiper .swiper-button.right:after {
    box-shadow: -20px 0px 0px 0px #ffffffed !important;
  }
  .swiper .swiper-button.left::after {
    box-shadow: 20px 0px 0px 0px #ffffffed !important;
  }
}

@media (max-width: 480px) {
  :root {
    --gray: transparent;
  }
  body .app-container .container {
    border: none;
    margin: 15px 0px;
  }
  .swiper-button-next svg,
  .swiper-button-prev svg {
    font-size: 17px;
  }
  .onboarding .checkbox {
    width: 25px;
    height: 25px;
  }
  .onboarding .checkbox svg {
    font-size: 19px;
  }
}
